.footer {
  width: 1480px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}

@media (max-width: 780px) {
  .footer {
    width: 1243px;
    margin: 1rem auto;
    text-align: center;
    font-size: 24px;
    background-color: aqua;
  }
}
